.login{
  min-height: 100vh;

  display: grid;
  grid-template-columns: 2fr 3fr;
}

.login-bg-img{
  min-height: 100vh;
  background-image: url('../../images/kigali-view.jpeg');
  background-size:cover;
  background-repeat: no-repeat;
}

.login-form-container{
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 0px 4rem;
}


.login-subtitle{
  color: #DEAD3D;
  font-size: 28px;
  text-align: start;
  font-weight: bold;
}

.login-title{
  color: black;
  font-size: 14px;
  text-align: start;
  font-weight: 600;
}

.p-b{
  padding-bottom: 32px;
}

/* forms */
.my-input{
  border-radius: 5px;
  border: 1px solid #E5E5E5;
  height: 56px;
  font-size: 16px;
}

.my-textarea{
  border-radius: 10px;
  background-color: #f3f3f3;
  border: none;
  min-height: 128px;
  font-size: 16px;
  width: 100%;
}

.my-label{
  font-size: 14px;
}


.signin-button:hover{
  color: #2a807b;
 }

 .primary-button{
  padding: 12px 50px;
  border-radius: 5px;
  font-size: 14px;
  color: white;
  background-color: #2B3449;
  border: 1px solid #2B3449;
}

.full-width-btn{
  display: grid;
  justify-items: stretch;
}