
.viewBillboard-container{
    background-color: white;
    color: black;
    padding: 32px;
    margin: 32px;
    border-radius: 10px;
}
#headers{
    font-weight: bold;
}


.tertiary-button{
    padding: 12px 42px;
    border-radius: 5px;
    font-size: 14px;
    color: black;
    background-color:rgba(3, 95, 11, 0.664);
    border: 1px solid rgba(3, 95, 11, 0.664);
    margin-right: 10px;
  }
  .tertiary-button:hover{
      color:white;
      
  }