.Chart-container{
    background-color: white;
    color: black;
    padding: 32px;
    margin: 32px;
    border-radius: 10px;
}

.Chart-container{
}

.line-chart{
    height: 50vh;
}


.report-cards{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-bottom: 32px;
    grid-column-gap: 32px;
}

.report-card{
    border: 1px gray solid;
    padding-left: 16px;
}

/* .dwn-btn{
    height: 30px;
    width: 100px;
} */