.billboard-container{
    background-color: white;
    color: black;
    padding: 32px;
    margin: 32px;
    border-radius: 10px;
}

.td-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 32px;
}

.on-hover:hover{
    color: #DEAD3D;
}

.billboard-top{
    display: grid;
    justify-items: end;
}

.p-b-32{
    padding-bottom: 32px;
  }


  .full-width-btn{
    display: grid;
    justify-items: stretch;
  }