
.default-container{
    background-color: lightgray;
    display: grid;
    grid-template-columns: 20% auto;
}
.app-body{
    display: grid;
    grid-template-rows: 80px auto;
}
.sidebar-main{
    background-color: #2c3b63;
    height: 100vh;
}
.navbar-main{
    display: grid;
    grid-template-columns: auto 25%;
    align-items: center;
    justify-items: center;
    background-color: white;
    color: black;
}

.navbar-right-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 32px;
    align-items: center;
}

.logout{
    border: red 1px solid;
    padding: 8px 16px;
    border-radius: 4px;
    text-align: center;
}

.logout:hover{
    color: white;
    background-color: red;
}